:root{
    --bg-blue: hsl(222, 47%, 11%);
    --green: hsl(138, 73%, 39%);
    --primary-text: hsl(0, 0%, 100%);
    --muted-text: hsl(218, 11%, 65%);
    --cards: hsl(229, 84%, 5%);
    --accent: hsl(125, 76%, 80%);
}
*{
    font-family: "Google Sans Flex","Inter",sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}
html{
    font-size: 16px;
}
body{
    background-color: var(--bg-blue);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: hsl(222, 52%, 10%);
    align-content: center;
    padding: 1rem;
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
    box-shadow: 0px -2px 10px 2px hsl(222, 53%, 10%);
}
.header-text{
    color: var(--primary-text);
    font-size: 2.5rem;
}
nav>a{
    color: var(--muted-text);
    text-decoration: none;
    font-size: 1.3rem;
}
nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero{
    color: var(--primary-text);
    padding: 2rem;
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
}
.title{
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}
.tagline{
    margin-bottom: 1rem;
}
.intro{
    line-height: 1.4;
    max-width: 800px;
}
.role{
    color: var(--green);
    margin-bottom: 0.8rem;
}
.line{
    border-top: 1px solid hsl(219, 14%, 45%);
    max-width: 20rem;
    padding: 0.5rem;
}
.view-projects,
.resume{
    border: none;
    padding: 0.8rem 1.3rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-text);
}
.view-projects{
    background-color: var(--green);
}
.resume{
    background-color: hsl(220, 46%, 17%);
    outline: 0.3px solid var(--primary-text);
}
.skills{
    padding: 2rem;
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
}
.skills-flex{
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    justify-content: space-evenly;
}
.line-skills{
    width: 90vw;
    border-top: 1px solid hsl(219, 14%, 45%);
    padding: 0.5rem;
}
.skill-card{
    border: 0.8px solid hsl(220, 36%, 25%);
    padding: 1.8rem 2rem;
    border-radius: 0.6rem;
    background-color: hsl(223, 42%, 18%);
    color: var(--primary-text);
    width: 20rem;
}
.skill-card>h3{
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
}
.skill-card>ul{
    list-style: none;
}
li{
    line-height: 1.7;
    font-size: 1.3rem;
}
.section-text{
    color: var(--primary-text);
    margin-bottom: 1rem;
}