:root{
    --bg-blue: hsl(222, 47%, 11%);
    --green: hsl(138, 73%, 39%);
    --primary-text: hsl(0, 0%, 100%);
    --muted-text: hsl(218, 11%, 65%);
    --cards: hsl(229, 84%, 5%);
    --accent: hsl(125, 76%, 80%);
}
*{
    font-family: "Inter",sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-blue);
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: hsl(222, 52%, 10%);
    align-content: center;
    padding: 1rem;
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
    box-shadow: 0px -2px 10px 2px hsl(222, 53%, 10%);
}
.header-text{
    color: var(--primary-text);
    font-size: 2.5rem;
}
nav>a{
    color: var(--muted-text);
    text-decoration: none;
    font-size: 1rem;
}
nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero{
    color: var(--primary-text);
    padding: 2rem;
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
}
.title{
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}
.tagline,
.intro{
    font-size: 1.1rem;
}
.tagline{
    margin-bottom: 1rem;
}
.intro{
    line-height: 1.4;
    max-width: 800px;
}
.role{
    color: var(--green);
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
}
.line{
    border-top: 1px solid hsl(219, 14%, 45%);
   
    padding: 0.5rem;
}
.line-hero{
    width: 80vw;
}
.view-projects,
.resume{
    border: none;
    padding: 0.8rem 1.3rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-text);
}
.view-projects{
    background-color: var(--green);
}
.resume{
    background-color: hsl(220, 46%, 17%);
    outline: 0.3px solid var(--primary-text);
    outline-offset: -2px;
}
.skills{
    padding: 2rem;
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
}
.skills-flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
    justify-content: space-evenly;
}
.line-skills{
    width: 80vw;
    border-top: 1px solid hsl(219, 14%, 45%);
    padding: 0.5rem;
}
.skill-card{
    /* border: 0.8px solid hsl(220, 36%, 25%); */
    padding: 1.8rem 2rem;
    /* border-radius: 0.6rem; */
    /* background-color: hsl(223, 42%, 18%); */
    color: var(--primary-text);
}
.skill-card>h3{
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
}
.skill-card>ul{
    list-style: none;
}
li{
    line-height: 1.7;
    font-size: 1.3rem;
}
.section-text{
    color: var(--primary-text);
    margin-bottom: 1rem;
}
.projects{
    padding: 2rem;
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
}
.project-flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card{
    background-color: hsl(223, 42%, 18%);
    border: 0.8px solid hsl(220, 36%, 25%);
    color: var(--primary-text);
    padding: 2rem;
    border-radius: 6px;
}
.card>h2{
    margin-bottom: 0.3rem;
}
.card>h2>span{
    color: var(--muted-text);
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
}
.desc{
    margin-bottom: 0.5rem;
}
.about-me{
    padding: 2rem;
    color: var(--primary-text);
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
}
.contact{
    padding: 2rem;
    color: var(--primary-text);
}
span{
    font-weight: bold;
}
.p1,
.p2{
    line-height: 1.3;
}
.p1{
    margin-bottom: 0.5rem;
}
.contact>p{
    margin-bottom: 1rem;
}
.contact-card-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-card{
    border: 0.8px solid hsl(220, 36%, 25%);
    background-color: hsl(223, 42%, 18%);
    border-radius: 6px;
}
.contact-card>a{
    text-decoration: none;
    color: var(--primary-text);
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}
.icons{
    width: auto;
    height: 2rem;
    margin-right: 1rem;
}
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: var(--bg-blue);
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border: 0.8px solid hsl(221, 34%, 18%);
}

#backToTop:hover {
  transform: translateY(-4px);
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}