:root{
    --bg-blue: hsl(222, 47%, 11%);
    --green: hsl(125, 76%, 47%);
    --primary-text: hsl(220, 13%, 91%);
    --muted-text: hsl(218, 11%, 65%);
    --cards: hsl(229, 84%, 5%);
    --accent: hsl(125, 76%, 80%);
}
*{
    font-family: "Google Sans Flex","Inter",sans-serif;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    background-color: var(--bg-blue);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: hsl(222, 52%, 10%);
    align-content: center;
    padding: 1rem;
    border-bottom: 0.8px solid hsl(220, 46%, 17%);
    box-shadow: 0px -2px 10px 2px hsl(222, 53%, 10%);
}
.header-text{
    color: var(--primary-text);
    font-size: 2rem;
}
nav>a{
    color: var(--muted-text);
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}